[workspace]
default-members = ["crates/hmt-cli"]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.11.17"
edition = "2021"

[workspace.dependencies]
# inner dependencies
hmt-detection = { path = "crates/hmt-detection" }
hmt-fetcher = { path = "crates/hmt-fetcher" }
hmt-manifest = { path = "crates/hmt-manifest" }
hmt-registry = { path = "crates/hmt-registry" }
hmt-utils = { path = "crates/hmt-utils" }

anyhow = "1.0.100"
async-trait = "0.1.89"
clap = { version = "4.5.53", features = ["derive", "env"] }
dirs = "6.0.0"
flate2 = "1.1.5"
once_cell = "1.21.3"
reqwest = { version = "0.12.25", default-features = false, features = ["rustls-tls"] }
semver = "1.0.27"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
sha2 = "0.10.9"
tar = "0.4.44"
target-triple = "1.0.0"
tempfile = "3.23.0"
thiserror = "2.0.17"
tokio = { version = "1.48.0", features = ["full"] }
toml = "0.9.8"
tracing = "0.1.44"
tracing-subscriber = "0.3.22"
walkdir = "2"
